[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "stories/themes/PaperMod"]
	path = stories/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
